<%- include('../_layouts/header.ejs') %>
  <%- include('../_layouts/loader.ejs') %>

    <!-- Begin page content -->
    <main class="flex-shrink-0 main">

      <!-- Fixed navbar -->
      <header class="header">

        <div class="row">

          <div class="col-auto px-0">
            <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
              <span class="material-icons">keyboard_arrow_left</span>
            </button>
          </div>
              
          <div class="text-left col align-self-center">
            <a class="navbar-brand" href="#">
              <h5 class="mb-0">Liste des transactions</h5>
            </a>
          </div>

          <%- include('../_layouts/headside.ejs') %>

        </div>

      </header>

      <!-- page content start -->

      <div class="main-container">

        <div class="container">
        
          <div class="card">

            <div class="card-body px-0">

              <ul class="list-group list-group-flush">
                <% result.forEach(function(paiement) { %>
                  <li class="list-group-item">

                    <div class="row align-items-center">
                      
                      <div class="col align-self-center pr-0">
                        <h6 class="font-weight-normal mb-1"><%= paiement.num_plaque %></h6>
                        <p class="small text-secondary mb-0"><%= paiement.refPaiement %></p>
                        <p class="small text-secondary mb-0">
                          <%= new Date(paiement.date_paiement).toLocaleDateString() %>, 
                          <%= new Date(paiement.date_paiement).toLocaleTimeString() %>
                        </p>
                      </div>

                      <div class="col-auto">
                        <h6 class="text-success">$<%= paiement.cout %></h6>
                      </div>

                    </div>

                  </li>
                <% }); %>
              </ul>

            </div>

          </div>

        </div>

      </div>

    </main>


<%- include('../_layouts/footer.ejs') %>