<%- include('_layouts/header.ejs') %>
    <body class="sb-nav-fixed">
    <%- include('_layouts/navbar.ejs') %>
        <div id="layoutSidenav">
          <%- include('_layouts/sidebar.ejs') %>
            <div id="layoutSidenav_content">
                <main>
                  <div class="container-fluid">

                    <h1 class="mt-4">Tableau de bord</h1>

                      <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active col-10">Liste des Véhicules</li>
                        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#staticBackdrop">
                          Ajouter
                        </button>
                      </ol>
                          
                      <div class="row">
                            
                        <div class="col-xl-6">
                          <% result.forEach(function(vehicule) { %>
                          <div class="card mb-4">
                            
                            <div class="card-header">
                              <i class="fas fa-car"></i>
                              <%= vehicule.marque %>
                            </div>

                            <div class="card-body">

                              <ol class="list-group list-group-numbered">

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Modèle</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.modele %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Type</div>         
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.type %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Puissance</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.puissance %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Couleur</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.couleur %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Année de fabrication</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.annee_fabrication %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">N° Chassis</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.num_chassis %></span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Montant à payer en</div>
                                  </div>
                                  <span class="badge bg-primary rounded-pill text-white"><%= vehicule.prix %>$</span>
                                </li>

                              </ol>

                            </div>

                            <div class="card-footer">
                              <form class="form-horizontal" role="form" id="paypalForm" method="post" action="paiement/paynow">
                                <input type="hidden" value="<%= vehicule._id %>" name="_id"/>
                                <input type="hidden" value="<%= vehicule.num_plaque %>" name="num_plaque"/>
                                <input type="hidden" value="<%= vehicule.prix %>" name="prix"/>
                                <i class="icon-money"></i>
                                <button type="submit" class="btn btn-primary pr-3">Payer</button>
                              </form>
                                      
                            </div>
                            
                          </div>
                          <% }); %> 
                          <br/>
                        </div>

                      </div>

                    </div>

                  </div>

                        
   
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="staticBackdropLabel">Ajouter un véhicule</h5>
          <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button> -->
          <button type="button" className="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body">

          <form method="POST" action="/vehicule/addvehicule">

            <div class="form-row">

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Marque</label>
                      <input class="form-control py-4" id="inputFirstName" name="marque" type="text" placeholder="Ex. Range Rover" />
                  </div>

              </div>

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Modèle</label>
                      <input class="form-control py-4" name="modele" id="inputFirstName" type="text" placeholder="Ex. Evoque" />
                  </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">N° chassis</label>
                      <input class="form-control py-4" id="inputFirstName" name="num_chassis" type="text" placeholder="Ex. 127" />
                  </div>

              </div>

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Puissance (CV)</label>
                      <input class="form-control py-4" id="inputFirstName" name="puissance" type="text" placeholder="Ex. 10" />
                  </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Couleur</label>
                      <input class="form-control py-4" id="inputFirstName" name="couleur" type="text" placeholder="Ex. Noir" />
                  </div>

              </div>

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Plaque</label>
                      <input class="form-control py-4" id="inputFirstName" name="num_plaque" type="text" placeholder="Ex. RC1232" />
                  </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Type</label>
                      <input class="form-control py-4" name="type" id="inputFirstName" type="text" placeholder="Ex. Diesel" />
                  </div>

              </div>

              <div class="col-md-6">

                  <div class="form-group">
                      <label class="small mb-1" for="inputFirstName">Année</label>
                      <input class="form-control py-4" name="annee_fabrication" id="inputFirstName" type="text" placeholder="Ex. 2007" />
                  </div>

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary">Enregistrer</button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

 </div>

</main>

<%- include('_layouts/footer.ejs') %>